/*-- scss:defaults --*/
/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

$font-family-sans-serif: 'Pangolin', sans-serif !default;
$presentation-heading-font: 'Shadows Into Light', sans-serif !default;
   
// colors
$body-bg: #333333 !default;
$body-color: white !default;
$link-color: $body-color !default;

$code-block-border-color: transparent !default;

/*-- scss:rules --*/
/*--body {
	background: url('blackboard.png');
	background-size: cover;
}--*/

/*Background image*/
pre > code.sourceCode > span {
 font-family: 'Pangolin';
}